/* start header_style1 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    height: 100%;
}
body {
    background-color: #f6f6f6;
    color: #000;
    font-family: "angsana new",sans-serif;
   font-size: 19px;
    line-height: 25px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "angsana new",sans-serif;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 15px;
    padding: 0;
}
h1 { font-size: 38px; line-height: 38px;}
h2 { font-size: 34px; line-height: 34px;}
h3 { font-size: 32px; line-height: 34px;}
h4 { font-size: 28px; line-height: 28px;}
h5 { font-size: 26px; line-height: 26px;}
h6 { font-size: 24px; line-height: 24px;}

a {
    color: #3380ff;
    outline: 0 none;
    text-decoration: none;
}
a:focus, a:hover, a:active {
    color: #3078ef;
    outline: 0 none;
    text-decoration: none;
}
p {
    font-size: 13px;
    line-height: 22px;
}
b {
    font-weight: 400;
}
blockquote p {
    font-size: 15px;
}
ul {
    padding-left: 30px;
}

.form-portrait{
	width: 780px;
	/*height: 1150px;*/
    height: 1000px;
    padding: 10px auto;
    border: 0 none;
	margin: 0 auto;
	position: relative;
    background: #fff;
}

.form-landscape{
    width: 1200px;
    height: 800px;
    border: 0 none;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table.td-center{

}
table.no-border {
    border: 0 none;
}
table .right {
    text-align: right;
}
table .left {
    text-align: left;
}
table .center {
    text-align: center;
}
table tr td{
    border: 1px solid #000;
}
table tr td.td-no-border{
    border: 0 none;
}
table.no-border tr td{
	border: 0 none;
}


table tr td span{
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
}

table tr td span.under-line-left{
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px solid #000;
}
table tr td span.under-line-right{
    text-align: right;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px solid #000;
}
table tr td span.under-line-center{
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px solid #000;
}

table tr td span.square-line-center{
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border: 1px solid #000;
}

table tr td span.right-line-right{
    text-align: right;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-right: 1px solid #000;
}
table tr td span.right-line-center{
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-right: 1px solid #000;
}

table tr td span.dot-line-left{
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px dotted;
}
table tr td span.dot-line-right{
    text-align: right;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px dotted;
}
table tr td span.dot-line-center{
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px dotted;
}







table .no-border th {
    border-left: 0 none;
}
table .no-border tr th:first-child {
    border-left: 1px solid #000;
}
table .no-border-x td {
    border-bottom: 0 none;
}
table .no-border-x tr:last-child td {
    border-bottom: 1px solid #000;
}
table .no-border-y td {
    border-left: 0 none;
}
table .no-border-y tr td:first-child {
    border-left: 1px solid #000;
}
table.no-border tr th {
    border-top: 0 none;
}
table.no-border tr th:first-child {
    border-left: 0 none;
}
table.no-border tr th:last-child {
    border-right: 0 none;
}
table.no-border tr td:first-child {
    border-left: 0 none;
}
table.no-border tr td:last-child {
    border-right: 0 none;
}
table.no-border tr:last-child td {
    border-bottom: 0 none;
}
.no-padding table th:first-child {
    border-left: 0 none;
}
.no-padding table th:last-child {
    border-right: 0 none;
}
.no-padding table tr td:first-child {
    border-left: 0 none;
}
.no-padding table tr td:last-child {
    border-right: 0 none;
}
.no-padding table tr:last-child td {
    border-bottom: 0 none;
}

.page-header {
	text-align: center;
	font-size: 19px;
}

.font-weight-bold {
	font-weight: bold;
}
.form-logo{
    display: block;
    height: 150px;
    left: 40px;
    position: absolute;
    top: 50px;
    width: 120px;
}
.form-logo img{
	width: 100%;
	height: auto;
}

table.no-border tr td.td-border-fix,
table.no-border tr td.td-border-fix:first-child,
table.no-border tr td.td-border-fix:last-child{
    border: 1px solid #000;
    border-top: none;
    border-collapse: collapse;
}

.row-title {
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}